@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

@layer utilities {
    .bg-glass {
        background: rgba( 255, 255, 255, 0.25 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .bg-glass-300 {
        background: rgba( 255, 255, 255, 0.45 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .bg-glass-500 {
        background: rgba( 255, 255, 255, 0.65 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .text-shadow-md {
        textShadow: 2px 2px 7px rgba(0,0,0,0.2)
    }
}